{{ ansible_managed | comment }}

createUser {{ security_snmp.snmp_user }} SHA {{ security_snmp.snmp_password }} AES {{ security_snmp.snmp_encryption }}

rouser {{ security_snmp.snmp_user }} priv
{% if security_snmp.snmp_agent_address_protocol.ipv4 is defined and security_snmp.snmp_agent_address_protocol.ipv4 | length > 0
and security_snmp.snmp_agent_address_port.ipv4 and security_snmp.snmp_agent_address_port.ipv4 | length > 0 %}
{% if security_snmp.snmp_agent_address_address.ipv4 is defined and security_snmp.snmp_agent_address_address.ipv4 | length > 0 %}
agentAddress {{ security_snmp.snmp_agent_address_protocol.ipv4 }}:{{ security_snmp.snmp_agent_address_address.ipv4 }}:{{ security_snmp.snmp_agent_address_port.ipv4 }}
{% else %}
agentAddress {{ security_snmp.snmp_agent_address_protocol.ipv4 }}:{{ security_snmp.snmp_agent_address_port.ipv4 }}
{% endif %}
{% endif %}

{% if security_snmp.snmp_agent_address_protocol.ipv6 is defined and security_snmp.snmp_agent_address_protocol.ipv6 | length > 0
and security_snmp.snmp_agent_address_port.ipv6 and security_snmp.snmp_agent_address_port.ipv6 | length > 0 %}
{% if security_snmp.snmp_agent_address_address.ipv6 is defined and security_snmp.snmp_agent_address_address.ipv6 | length > 0 %}
agentAddress {{ security_snmp.snmp_agent_address_protocol.ipv6 }}:{{ security_snmp.snmp_agent_address_address.ipv6 }}:{{ security_snmp.snmp_agent_address_port.ipv6 }}
{% else %}
agentAddress {{ security_snmp.snmp_agent_address_protocol.ipv6 }}:{{ security_snmp.snmp_agent_address_port.ipv6 }}
{% endif %}
{% endif %}


{% if security_snmp.snmp_location is defined and security_snmp.snmp_location | length > 0 %}
sysLocation {{ security_snmp.snmp_location }}
{% endif %}
{% if ansible_fqdn is defined and ansible_fqdn | length > 0 %}
sysName {{ ansible_fqdn }}
{% endif %}
{% if security_snmp.snmp_contact is defined and security_snmp.snmp_contact | length > 0 %}
sysContact {{ security_snmp.snmp_contact }}
{% endif %}

{% if security_snmp.snmp_extension_list is defined %}
{% for item in security_snmp.snmp_extension_list %}
extend {{ item.extend }}
{% endfor %}
{% endif %}
{% if "pve" in ansible_kernel %}
extend {{ security_snmp.snmp_extension_proxmox.extend }}
{% endif %}
